body {
  margin-top:15vh;
}

.caja {
  background: rgb(36, 76, 163);
  margin: auto;
  border: 2px solid blue;
  width: 40vh;
  height: 28vw;
  border-radius: 3vh;
}

.mostrarnumero {
  background-color: grey;
  font-weight: bold;
  border: 3px solid black;
  width: 30vh;
  height: 1.75vw;
  font-size: 22px;
  margin-left: 4vh;
  text-align: right;
 
}

.botones {
  width: 3.5vh;
  border: 2px solid black;
  font-size: 18px;
  margin-left: 2.5vh;
}